<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_spring_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,664},{134,68}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,69},{134,68}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{586,284}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{586,284}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{580,288}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{580,288}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,576},{574,286}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{574,286}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{574,286}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{574,286}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,288},{574,286}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{574,286}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{574,284}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{574,284}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,864},{574,284}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{574,284}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{574,284}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{574,284}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,734},{264,132}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,38},{264,132}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,218},{396,198}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,6},{396,198}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{404,214}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,10},{404,214}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,418},{438,244}}</string>
                <key>offset</key>
                <string>{-38,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,12},{438,244}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1238},{458,252}}</string>
                <key>offset</key>
                <string>{-22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,13},{458,252}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,664},{572,290}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{572,290}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1150},{564,288}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{564,288}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{594,280}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{594,280}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anims_chuntian.png</string>
            <key>size</key>
            <string>{1604,1604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89244f8ebe9b9cfc1ca824418c3121ae$</string>
            <key>textureFileName</key>
            <string>anims_chuntian.png</string>
        </dict>
    </dict>
</plist>
