<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_hardbomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{210,154}}</string>
                <key>offset</key>
                <string>{25,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{210,154}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{176,258}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{176,258}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,614},{156,82}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,183},{156,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,252}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,68},{224,252}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,614},{154,82}}</string>
                <key>offset</key>
                <string>{-14,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,183},{154,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,614},{154,82}}</string>
                <key>offset</key>
                <string>{-14,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,183},{154,82}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,184},{190,220}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,100},{190,220}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,262},{176,188}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,132},{176,188}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,530},{122,158}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,153},{122,158}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,376},{152,196}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,115},{152,196}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,440},{172,282}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,30},{172,282}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{196,274}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{196,274}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>anim_hardbomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{180,280}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,14},{180,280}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anims_hardbomb.png</string>
            <key>size</key>
            <string>{698,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1546da3b437228a7c0eebcd7da80b2e0$</string>
            <key>textureFileName</key>
            <string>anims_hardbomb.png</string>
        </dict>
    </dict>
</plist>
