<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buycard.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,83},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>exitgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,164},{235,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,75}}</string>
                <key>sourceSize</key>
                <string>{235,75}</string>
            </dict>
            <key>give.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,164},{192,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,75}}</string>
                <key>sourceSize</key>
                <string>{192,75}</string>
            </dict>
            <key>givecard.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,164},{235,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,75}}</string>
                <key>sourceSize</key>
                <string>{235,75}</string>
            </dict>
            <key>lijigengxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,83},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>qiehuanzhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,83},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,164},{192,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,79}}</string>
                <key>sourceSize</key>
                <string>{192,79}</string>
            </dict>
            <key>readybig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>reload.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>reloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>search.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,83},{192,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,79}}</string>
                <key>sourceSize</key>
                <string>{192,79}</string>
            </dict>
            <key>shenqingjiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{235,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,75}}</string>
                <key>sourceSize</key>
                <string>{235,75}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{192,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,79}}</string>
                <key>sourceSize</key>
                <string>{192,79}</string>
            </dict>
            <key>startgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>wechatshare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniujihe.png</string>
            <key>size</key>
            <string>{1144,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39e194155884db263190bd4c243dffe1$</string>
            <key>textureFileName</key>
            <string>anniujihe.png</string>
        </dict>
    </dict>
</plist>
