<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibeizha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1478},{770,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,490}}</string>
                <key>sourceSize</key>
                <string>{770,490}</string>
            </dict>
            <key>beibeizha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{770,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,490}}</string>
                <key>sourceSize</key>
                <string>{770,490}</string>
            </dict>
            <key>beibeizha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,986},{770,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,490}}</string>
                <key>sourceSize</key>
                <string>{770,490}</string>
            </dict>
            <key>beibeizha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{770,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,490}}</string>
                <key>sourceSize</key>
                <string>{770,490}</string>
            </dict>
            <key>beibeizha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,494},{770,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,490}}</string>
                <key>sourceSize</key>
                <string>{770,490}</string>
            </dict>
            <key>beibeizha_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{770,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,490}}</string>
                <key>sourceSize</key>
                <string>{770,490}</string>
            </dict>
            <key>beibeizha_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{770,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,490}}</string>
                <key>sourceSize</key>
                <string>{770,490}</string>
            </dict>
            <key>beibeizha_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{770,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,490}}</string>
                <key>sourceSize</key>
                <string>{770,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beibeizha_3.png</string>
            <key>size</key>
            <string>{1546,1970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3c5c8abb99faeb9c68227daaf3126eb$</string>
            <key>textureFileName</key>
            <string>beibeizha_3.png</string>
        </dict>
    </dict>
</plist>
