<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuangjianfangjiancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,57},{203,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,53}}</string>
                <key>sourceSize</key>
                <string>{203,53}</string>
            </dict>
            <key>createroomzong.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{203,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,53}}</string>
                <key>sourceSize</key>
                <string>{203,53}</string>
            </dict>
            <key>fenxiangdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,57},{154,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,53}}</string>
                <key>sourceSize</key>
                <string>{154,53}</string>
            </dict>
            <key>fenxiangdaocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{154,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,53}}</string>
                <key>sourceSize</key>
                <string>{154,53}</string>
            </dict>
            <key>helpcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,57},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>helpzong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,57},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>newscheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,58},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
            <key>remindzong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>settingcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>settingzong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,57},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>shengqingjiesancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{302,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,54}}</string>
                <key>sourceSize</key>
                <string>{302,54}</string>
            </dict>
            <key>shenqingjiesanfangjianzong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,54}}</string>
                <key>sourceSize</key>
                <string>{302,54}</string>
            </dict>
            <key>tishicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>xiaoxizong.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
            <key>zengsongfangkacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,58},{204,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,54}}</string>
                <key>sourceSize</key>
                <string>{204,54}</string>
            </dict>
            <key>zengsongfangkazong.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{204,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,54}}</string>
                <key>sourceSize</key>
                <string>{204,54}</string>
            </dict>
            <key>zhanjicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,57},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>zhanjizong.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biaotizi.png</string>
            <key>size</key>
            <string>{1473,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7d794abbcbc7704dd87d0982f8b7098$</string>
            <key>textureFileName</key>
            <string>biaotizi.png</string>
        </dict>
    </dict>
</plist>
