<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>agreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,633},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>beishufengding.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,818},{157,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,40}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>bgbaibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,894},{114,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,113}}</string>
                <key>sourceSize</key>
                <string>{114,113}</string>
            </dict>
            <key>bghuibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,633},{102,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,99}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>bigbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,153},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>bigqianhuibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,736},{170,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,172}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>bupaiguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,975},{156,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{156,39}</string>
            </dict>
            <key>cannel.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,713},{235,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,75}}</string>
                <key>sourceSize</key>
                <string>{235,75}</string>
            </dict>
            <key>choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,56},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,896},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,322},{294,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,94}}</string>
                <key>sourceSize</key>
                <string>{294,94}</string>
            </dict>
            <key>createroomtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,965},{171,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,46}}</string>
                <key>sourceSize</key>
                <string>{171,46}</string>
            </dict>
            <key>difen.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,303},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>fanhuidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,633},{235,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,78}}</string>
                <key>sourceSize</key>
                <string>{235,78}</string>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,249},{177,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,68}}</string>
                <key>sourceSize</key>
                <string>{177,68}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,734},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>huipinwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,518},{275,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,113}}</string>
                <key>sourceSize</key>
                <string>{275,113}</string>
            </dict>
            <key>huipinwanfabtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,790},{229,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,104}}</string>
                <key>sourceSize</key>
                <string>{229,104}</string>
            </dict>
            <key>jianbiantiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{460,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,38}}</string>
                <key>sourceSize</key>
                <string>{460,38}</string>
            </dict>
            <key>jianbiantiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{616,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,41}}</string>
                <key>sourceSize</key>
                <string>{616,41}</string>
            </dict>
            <key>jianbiantiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,273},{304,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,47}}</string>
                <key>sourceSize</key>
                <string>{304,47}</string>
            </dict>
            <key>jianbiantiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{792,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,52}}</string>
                <key>sourceSize</key>
                <string>{792,52}</string>
            </dict>
            <key>jiesanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,476},{235,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,78}}</string>
                <key>sourceSize</key>
                <string>{235,78}</string>
            </dict>
            <key>jingdianwanfa-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,910},{272,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,110}}</string>
                <key>sourceSize</key>
                <string>{272,110}</string>
            </dict>
            <key>jingdianwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,714},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,101}}</string>
                <key>sourceSize</key>
                <string>{233,101}</string>
            </dict>
            <key>jixuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,556},{235,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,75}}</string>
                <key>sourceSize</key>
                <string>{235,75}</string>
            </dict>
            <key>jushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,851},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,40}</string>
            </dict>
            <key>kexuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,485},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>leftchatbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,178},{192,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,69}}</string>
                <key>sourceSize</key>
                <string>{192,69}</string>
            </dict>
            <key>meijushouchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,964},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>middlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,418},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>middlehuibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,893},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>nochoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,893},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,751},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>pannel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{367,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,220}}</string>
                <key>sourceSize</key>
                <string>{367,220}</string>
            </dict>
            <key>pannel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{497,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,171}}</string>
                <key>sourceSize</key>
                <string>{497,171}</string>
            </dict>
            <key>pengyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,696},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,319},{235,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,75}}</string>
                <key>sourceSize</key>
                <string>{235,75}</string>
            </dict>
            <key>renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,576},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,588},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>rightchatbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,107},{192,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,69}}</string>
                <key>sourceSize</key>
                <string>{192,69}</string>
            </dict>
            <key>samllpannel.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,326},{127,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,198}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>send.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,894},{176,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,69}}</string>
                <key>sourceSize</key>
                <string>{176,69}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,56},{97,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,43}}</string>
                <key>sourceSize</key>
                <string>{97,43}</string>
            </dict>
            <key>settingbarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,149},{360,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,90}}</string>
                <key>sourceSize</key>
                <string>{360,90}</string>
            </dict>
            <key>shaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,520},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>shenqingjiesanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{241,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,43}}</string>
                <key>sourceSize</key>
                <string>{241,43}</string>
            </dict>
            <key>shenqingjiesanfangjianbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,418},{288,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,98}}</string>
                <key>sourceSize</key>
                <string>{288,98}</string>
            </dict>
            <key>shuangsebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{417,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,103}}</string>
                <key>sourceSize</key>
                <string>{417,103}</string>
            </dict>
            <key>shuangsebg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{414,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,103}}</string>
                <key>sourceSize</key>
                <string>{414,103}</string>
            </dict>
            <key>smallbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,860},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>smallgouxuanbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,273},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,714},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>surebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,817},{234,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,75}}</string>
                <key>sourceSize</key>
                <string>{234,75}</string>
            </dict>
            <key>tiaoyinliangbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,345},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>tichufangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,896},{168,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,66}}</string>
                <key>sourceSize</key>
                <string>{168,66}</string>
            </dict>
            <key>titlebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{640,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,95}}</string>
                <key>sourceSize</key>
                <string>{640,95}</string>
            </dict>
            <key>tuichufangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,396},{235,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,78}}</string>
                <key>sourceSize</key>
                <string>{235,78}</string>
            </dict>
            <key>voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,896},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,526},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,856},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>xuanzebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,345},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>yellowbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,787},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>yellowfangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{249,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,209}}</string>
                <key>sourceSize</key>
                <string>{249,209}</string>
            </dict>
            <key>yinliangtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,241},{356,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,30}}</string>
                <key>sourceSize</key>
                <string>{356,30}</string>
            </dict>
            <key>yinliangtiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,107},{370,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,40}}</string>
                <key>sourceSize</key>
                <string>{370,40}</string>
            </dict>
            <key>yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,458},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>yinxiaokai.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,526},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>yinyueguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,396},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>yinyuekai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,790},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>zhuangwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,860},{95,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,42}}</string>
                <key>sourceSize</key>
                <string>{95,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1212,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecbdfc78db6a6603ec97dcb2c53320b7$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
