<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChongShu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1210},{162,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,104}</string>
            </dict>
            <key>ChuangJianFangJianAnNiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,631},{449,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{449,224}}</string>
                <key>sourceSize</key>
                <string>{449,226}</string>
            </dict>
            <key>DianJiFuZhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1351},{177,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,57}}</string>
                <key>sourceSize</key>
                <string>{177,57}</string>
            </dict>
            <key>FenXiangDao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,483},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{137,52}</string>
            </dict>
            <key>FengXiangHaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1317},{70,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,215}}</string>
                <key>sourceSize</key>
                <string>{70,215}</string>
            </dict>
            <key>GanDengYan.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,97},{324,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{324,84}}</string>
                <key>sourceSize</key>
                <string>{328,84}</string>
            </dict>
            <key>GongGaoDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,830},{70,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,43}}</string>
                <key>sourceSize</key>
                <string>{70,43}</string>
            </dict>
            <key>GongNengDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,97},{282,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,108}}</string>
                <key>sourceSize</key>
                <string>{284,110}</string>
            </dict>
            <key>HouDong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,248},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>JiaAnNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,381},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>JianGe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,161},{9,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{9,99}}</string>
                <key>sourceSize</key>
                <string>{9,101}</string>
            </dict>
            <key>QieHuangAnNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,97},{279,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,68}}</string>
                <key>sourceSize</key>
                <string>{279,68}</string>
            </dict>
            <key>QieHuangAnNiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,97},{273,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,63}}</string>
                <key>sourceSize</key>
                <string>{273,63}</string>
            </dict>
            <key>QingShuRuBiaoTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1317},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,54}}</string>
                <key>sourceSize</key>
                <string>{340,54}</string>
            </dict>
            <key>ShanChu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1131},{162,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,104}</string>
            </dict>
            <key>ShangCheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1057},{132,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,93}}</string>
                <key>sourceSize</key>
                <string>{134,93}</string>
            </dict>
            <key>ShuZiDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,597},{63,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,85}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>ShuZiDiBanJianGe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,161},{3,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,75}}</string>
                <key>sourceSize</key>
                <string>{3,75}</string>
            </dict>
            <key>SuaXin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1374},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>TIShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1471},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>TanKuangDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1017},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,112}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>TanKuangDiBan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,830},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,796},{112,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,67}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>TouXiangDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1374},{95,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>WanFa.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1475},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>WenTiFanKuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1443},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>XiaoXi.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,662},{59,83}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{59,83}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>XiaoXiTiShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1374},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>YHXY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,857},{349,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,52}}</string>
                <key>sourceSize</key>
                <string>{349,52}</string>
            </dict>
            <key>YaoQing.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,830},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>YaoQingAnNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,830},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>YaoQingMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,508},{85,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>YiKaiShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,381},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>ZiYuanDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,841},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>bg_shanghai_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,191},{613,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,55}}</string>
                <key>sourceSize</key>
                <string>{613,55}</string>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,93}}</string>
                <key>sourceSize</key>
                <string>{1280,93}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,830},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1374},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_disable_custom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1351},{261,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{261,90}}</string>
                <key>sourceSize</key>
                <string>{269,90}</string>
            </dict>
            <key>btn_disable_shanghai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1443},{261,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,89}}</string>
                <key>sourceSize</key>
                <string>{261,89}</string>
            </dict>
            <key>btn_enable_custom.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1317},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>btn_enable_shanghai.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1317},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>btn_roominfo_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,841},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>btn_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,830},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>bubbleBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,723},{116,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,80}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>button_sort_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1458},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>button_sort_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1458},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>button_sort_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1416},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>button_sort_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1374},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>buyitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{325,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,63}}</string>
                <key>sourceSize</key>
                <string>{325,63}</string>
            </dict>
            <key>edit_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1351},{178,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,42}}</string>
                <key>sourceSize</key>
                <string>{178,42}</string>
            </dict>
            <key>hall_BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,414},{215,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{215,215}}</string>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
            <key>hall_BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1374},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>hall_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,378},{89,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,46}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
            <key>joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{424,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,225}}</string>
                <key>sourceSize</key>
                <string>{424,225}</string>
            </dict>
            <key>myroom_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,248},{561,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,546}}</string>
                <key>sourceSize</key>
                <string>{561,546}</string>
            </dict>
            <key>myroom_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,796},{498,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,32}}</string>
                <key>sourceSize</key>
                <string>{498,32}</string>
            </dict>
            <key>myroom_bottom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1374},{40,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,98}}</string>
                <key>sourceSize</key>
                <string>{40,98}</string>
            </dict>
            <key>myroom_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,957},{124,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,98}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>myroom_started.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,857},{124,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,98}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>myroom_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,369},{216,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,43}}</string>
                <key>sourceSize</key>
                <string>{216,43}</string>
            </dict>
            <key>numAnNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,97},{162,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,104}</string>
            </dict>
            <key>poker_little_diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1317},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>roomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1374},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>room_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,830},{71,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>roominfo_dividing_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,100},{631,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,4}}</string>
                <key>sourceSize</key>
                <string>{631,4}</string>
            </dict>
            <key>settingQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,97},{288,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,96}}</string>
                <key>sourceSize</key>
                <string>{288,96}</string>
            </dict>
            <key>shangchengdh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,426},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1471},{59,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{59,87}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>tbwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{1078,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1078,404}}</string>
                <key>sourceSize</key>
                <string>{1078,404}</string>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,830},{61,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>zj_RecorditemBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,483},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{132,140}</string>
            </dict>
            <key>zj_btlookother.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,428},{193,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,64}}</string>
                <key>sourceSize</key>
                <string>{193,64}</string>
            </dict>
            <key>zj_btnlook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,964},{115,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,51}}</string>
                <key>sourceSize</key>
                <string>{115,51}</string>
            </dict>
            <key>zj_btnshare.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,911},{115,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,51}}</string>
                <key>sourceSize</key>
                <string>{115,51}</string>
            </dict>
            <key>zj_shareTitile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1295},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>zj_shareitemBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,97},{622,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,92}}</string>
                <key>sourceSize</key>
                <string>{622,92}</string>
            </dict>
            <key>zj_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,279},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>取消.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,272},{168,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,65}}</string>
                <key>sourceSize</key>
                <string>{168,67}</string>
            </dict>
            <key>地板1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1374},{103,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,39}}</string>
                <key>sourceSize</key>
                <string>{103,39}</string>
            </dict>
            <key>地板2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,387},{103,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,39}}</string>
                <key>sourceSize</key>
                <string>{103,39}</string>
            </dict>
            <key>帮助.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1479},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>数字地板.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1152},{122,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,56}}</string>
                <key>sourceSize</key>
                <string>{122,56}</string>
            </dict>
            <key>方块.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,27},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>梅花.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,76},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>玩法3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,911},{878,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{878,404}}</string>
                <key>sourceSize</key>
                <string>{878,404}</string>
            </dict>
            <key>箭头.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,100},{59,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,18}}</string>
                <key>sourceSize</key>
                <string>{59,18}</string>
            </dict>
            <key>红桃.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,52},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>自选玩法.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,428},{184,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>返回大厅.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,203},{168,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,67}}</string>
                <key>sourceSize</key>
                <string>{168,67}</string>
            </dict>
            <key>黑桃.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,2},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1538,1538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15a9dbee8dd68de64cecb2dda825c30d$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
