<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GuangBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{60,60}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>GuangQuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{104,106}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>HeiTao.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{56,56}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>HongXin.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,64},{54,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{54,48}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>MeiHua.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,60},{56,56}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{56,56}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JZDH.png</string>
            <key>size</key>
            <string>{228,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19592be75bbbfc1bf04a6c5cb9685602:f6ff1a67fbfd4ddb9615f95239ecba6e:e39d078907b61bf07b338cf12af0b8a0$</string>
            <key>textureFileName</key>
            <string>JZDH.png</string>
        </dict>
    </dict>
</plist>
