<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liandui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,146},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,146},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,74},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,74},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,146},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,74},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,146},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,74},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>liandui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liandui.png</string>
            <key>size</key>
            <string>{1612,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:613dab7aa1d43ec24c0e423381ae5a32$</string>
            <key>textureFileName</key>
            <string>liandui.png</string>
        </dict>
    </dict>
</plist>
