<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,272},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,272},{111,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,119}}</string>
                <key>sourceSize</key>
                <string>{111,119}</string>
            </dict>
            <key>createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{417,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,268}}</string>
                <key>sourceSize</key>
                <string>{417,268}</string>
            </dict>
            <key>fangka-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,322},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>jiankangyouxigonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,322},{304,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,54}}</string>
                <key>sourceSize</key>
                <string>{304,54}</string>
            </dict>
            <key>jiarufangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{407,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,261}}</string>
                <key>sourceSize</key>
                <string>{407,261}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,280}}</string>
                <key>sourceSize</key>
                <string>{680,280}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,384},{701,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,33}}</string>
                <key>sourceSize</key>
                <string>{701,33}</string>
            </dict>
            <key>progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,265},{725,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{725,55}}</string>
                <key>sourceSize</key>
                <string>{725,55}</string>
            </dict>
            <key>returnroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,2},{407,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,261}}</string>
                <key>sourceSize</key>
                <string>{407,261}</string>
            </dict>
            <key>robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{135,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,141}}</string>
                <key>sourceSize</key>
                <string>{135,141}</string>
            </dict>
            <key>wechatload.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,284},{390,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,134}}</string>
                <key>sourceSize</key>
                <string>{390,134}</string>
            </dict>
            <key>ykload.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,284},{406,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,133}}</string>
                <key>sourceSize</key>
                <string>{406,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lotofpart.png</string>
            <key>size</key>
            <string>{1921,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c5eb7c99a176998478b393448c18b4d$</string>
            <key>textureFileName</key>
            <string>lotofpart.png</string>
        </dict>
    </dict>
</plist>
