<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MiddlePoker_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,457},{110,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,149}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>MiddlePoker_1031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1084.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1087.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1091.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1092.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1093.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1094.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1097.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1107.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1112.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1113.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1114.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1117.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1121.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1122.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1123.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1124.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1127.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1131.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1132.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1133.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1134.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1137.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1141.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1142.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1143.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1144.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,457},{110,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,149}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>MiddlePoker_1151.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1152.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1153.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1154.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_1160.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,306},{110,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,149}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>MiddlePoker_1170.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,306},{110,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,149}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>MiddlePoker_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,457},{110,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,149}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>MiddlePoker_2037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2087.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2097.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2107.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2117.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,458},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2127.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,306},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2137.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,154},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>MiddlePoker_2147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,457},{110,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,149}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>MiddlePoker_2157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MiddlePoker.png</string>
            <key>size</key>
            <string>{1906,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fcc3cce893b503678546278278c71b4$</string>
            <key>textureFileName</key>
            <string>MiddlePoker.png</string>
        </dict>
    </dict>
</plist>
