<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_rocket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,546},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,274},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,546},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,274},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,546},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,274},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,546},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,274},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,546},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,274},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,546},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,274},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,546},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,274},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>anim_rocket_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,270}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rocket.png</string>
            <key>size</key>
            <string>{1730,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99d922920fbbf20d3924199a58c3d0b9$</string>
            <key>textureFileName</key>
            <string>rocket.png</string>
        </dict>
    </dict>
</plist>
