<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shunzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,145},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,145},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,145},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,145},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,145},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,145},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,145},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
            <key>shunzi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,141}}</string>
                <key>sourceSize</key>
                <string>{220,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shunzi.png</string>
            <key>size</key>
            <string>{1778,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab72aaf63f4f4ff6e37c859831d597a4$</string>
            <key>textureFileName</key>
            <string>shunzi.png</string>
        </dict>
    </dict>
</plist>
