<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{1280,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,79}}</string>
                <key>sourceSize</key>
                <string>{1280,79}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,204},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>huatong.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,204},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>info.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,204},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>news.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,204},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,204},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>shaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,83},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>shurubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,334}}</string>
                <key>sourceSize</key>
                <string>{50,334}</string>
            </dict>
            <key>talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,204},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>toptitlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,83},{1205,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1205,119}}</string>
                <key>sourceSize</key>
                <string>{1205,119}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,204},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{95,97}</string>
            </dict>
            <key>zhanjibutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,204},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallpart.png</string>
            <key>size</key>
            <string>{1336,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e490bff0a9917cab6af25ce12237aa3a$</string>
            <key>textureFileName</key>
            <string>smallpart.png</string>
        </dict>
    </dict>
</plist>
