<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_softbomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1250},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1250},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,938},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,938},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,626},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,626},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1250},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,938},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,626},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,314},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,314},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,314},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
            <key>anim_softbomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,310}}</string>
                <key>sourceSize</key>
                <string>{380,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>softbomb.png</string>
            <key>size</key>
            <string>{1530,1562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24af3ba3de7596cab87feb97e51002e4$</string>
            <key>textureFileName</key>
            <string>softbomb.png</string>
        </dict>
    </dict>
</plist>
