<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gloryani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani16.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani17.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani18.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani19.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani3.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani6.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani7.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
            <key>gloryani9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,162}}</string>
                <key>sourceSize</key>
                <string>{165,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stardh.png</string>
            <key>size</key>
            <string>{1672,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1317af0fcbd4b2e82130c5e0eeab774a$</string>
            <key>textureFileName</key>
            <string>stardh.png</string>
        </dict>
    </dict>
</plist>
